@media screen and (max-width: 480px) {
#card.col.mb-2 {
  
    width: 75%;
}
#card1.col.mb-2 {
  
  width: 75%;
}
}



table.table tr td div.btn-primary { display:none;}
table.table tr:hover td div.btn-primary { display:inline-block;}


/* navbar open left */
.navbar-collapse {
    position: relative;
    top: 50px;
    left: 0; 
    padding-bottom: 15px;
   
  }
  
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
    

  }
  
  .navbar-collapse.show {
    left: 0;
    transition: left 100ms ease-in-out;

  }
  
  .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 100ms ease-in-out;
  }


 
  @media screen and (max-width: 768px) {
   #leftBody {
      background-color: white;

      
    }
      #card1{
        
        margin-left: 2rem;
      }
      #card{
        
        margin-left: 2rem;
      }
     #userHide1{
       --bs-gutter-x: 0rem;
       margin-right: 0rem;
       margin-left: 2rem;
     }

    }
    @media screen and (min-width: 768px) {
      #card1{
        margin-left: 2rem;
      }
    
       }


 #tableBodyQuotes tr{
      height: 50px;
    }

 #sideBar{
      background-color:#3b91f7;
      height: 100vh;

    }
#colHide{
  display: none;
}

#overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: start;
}


#overlayRight {
  position: absolute; 
  bottom: 0;
  right: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 50%;
  height: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: start;
}


